body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: flex-end; /* Aligns the anchor tags to the right */
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 2px solid #f7f4f4; /* change to color that of the wireframe */
    background-color: #333;
    position: sticky;
    top: 0; /* Ensures the nav bar sticks to the top */
    z-index: 2; /* Ensures the nav bar stays above other content */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

header h1 {
    margin: 0;
    text-align: center;
}

header p {
    margin: 5px 0;
    text-align: center;
}

.hero-section {
    position: relative;
    height: 70vh; /* Full viewport height */
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-content {
    position: relative;
    z-index: 2; /* Elements in this section will remain visible  */
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

header .button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    margin-bottom: 10px;
}

.content h3 {
    margin-bottom: 5px;
}

.pre-order {
    padding: 20px;
    text-align: center;
}

.pre-order h2 {
    margin-bottom: 10px;
}

.pre-order ul {
    list-style-type: none;
    padding: 0;
}

.pre-order ul li {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}



